<a href="https://colab.research.google.com/github/MasiboBrian/AirBNB-Price-Prediction/blob/master/data_miming_firstassign.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
df= pd.read_csv('thyroid.csv')
df

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,y
0,29,F,f,f,f,f,f,f,f,t,...,f,?,f,?,f,?,f,?,other,0
1,29,F,f,f,f,f,f,f,f,f,...,t,128,f,?,f,?,f,?,other,0
2,41,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,11,other,0
3,36,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,26,other,0
4,32,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,36,other,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9167,56,M,f,f,f,f,f,f,f,f,...,t,64,t,0.83,t,77,f,?,SVI,0
9168,22,M,f,f,f,f,f,f,f,f,...,t,91,t,0.92,t,99,f,?,SVI,0
9169,69,M,f,f,f,f,f,f,f,f,...,t,113,t,1.27,t,89,f,?,SVI,1
9170,47,F,f,f,f,f,f,f,f,f,...,t,75,t,0.85,t,88,f,?,other,0
9171,31,M,f,f,f,f,f,f,f,t,...,t,66,t,1.02,t,65,f,?,other,0

In [ ]:
df.count(1)

0       30
1       30
2       30
3       30
4       30
        ..
9167    30
9168    30
9169    30
9170    30
9171    30
Length: 9172, dtype: int64

In [ ]:
# number of rows 9172 #number of column 30

In [ ]:
df.isnull().sum()

age                          0
sex                          0
on thyroxine                 0
query on thyroxine           0
on antithyroid medication    0
sick                         0
pregnant                     0
thyroid surgery              0
I131 treatment               0
query hypothyroid            0
query hyperthyroid           0
lithium                      0
goitre                       0
tumor                        0
hypopituitary                0
psych                        0
TSH measured                 0
TSH                          0
T3 measured                  0
T3                           0
TT4 measured                 0
TT4                          0
T4U measured                 0
T4U                          0
FTI measured                 0
FTI                          0
TBG measured                 0
TBG                          0
referral source              0
y                            0
dtype: int64

In [ ]:
df.columns

Index(['age', 'sex', 'on thyroxine', 'query on thyroxine',
       'on antithyroid medication', 'sick', 'pregnant', 'thyroid surgery',
       'I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium',
       'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH measured', 'TSH',
       'T3 measured', 'T3', 'TT4 measured', 'TT4', 'T4U measured', 'T4U',
       'FTI measured', 'FTI', 'TBG measured', 'TBG', 'referral source', 'y'],
      dtype='object')

In [ ]:
print(df.groupby('y').sum())

      age
y
0  547444
1  127210

In [ ]:
round((df['y'] == 1).sum() / len(df['y']) * 100, 2)

26.18

 #5. What percentage of instances in this data frame are Female? Enter the answer as a value between 0 and 100, and two digits after the decimal point without the percent sign

In [ ]:
round((df['sex'] == 'F').sum() / len(df['sex']) * 100, 2)

66.21

#6. What is the average age of all patients in this data frame? Enter the answer with two digits after the decimal point.

In [ ]:
df['age'].mean()

73.55582206716092

How many unique values are in the column referral source?

In [ ]:
len(df['referral source'].unique())

6

In [ ]:
#8. Which class in the column referral source has the highest frequency?¶
item_count=df['referral source'].value_counts().idxmax()
item_count

'other'

In [ ]:
df = df.replace('?', np.nan)

In [ ]:
(df.isna().sum().sum()/df.size)*100

5.316543102195086

In [ ]:
df.size

275160

In [ ]:
df.isna().sum().sum()

14629

In [ ]:
df.size

275160

In [ ]:
df.shape

(9172, 30)

In [ ]:

round(((df.isna().sum().sum()) / df.size) * 100, 2)

5.32

What percentage of rows have at least one attribute flagged as missing value? Enter the answer as a value between 0 and 100, and two digits after the decimal point without the percent sign*********************************

In [ ]:
round(((df.isna().sum(axis=1) >= 1).sum() / len(df)) * 100, 2)

99.78

11. What is the average number of missing values in all the data frame rows? Enter the answer with two digits after the decimal point

In [ ]:
df.isna().sum(axis=1).sum()/len(df)

1.594962930658526

In [ ]:
df['sex'].value_counts()### F IS MORE

F    6073
M    2792
Name: sex, dtype: int64

12. Replace all the missing values in column sex with the value of the most frequent class. Then properly transform this column to a numerical column. What is the mean() of all values in this column after transformation? Enter the answer with two digits after the decimal point

In [ ]:

df['sex'] = df['sex'].fillna(df['sex'].value_counts().idxmax())

In [ ]:
df['sex'] = df['sex'].replace({'F': 1, 'M': 0})

In [ ]:
# after transformation
round(df['sex'].mean(), 2)

0.7

13. How many instances in this data frame have different values on 'on thyroxine' and 'query on thyroxine'?

In [ ]:
(df['on thyroxine'] != df['query on thyroxine']).sum()

1345

14. Thyroxine, also knows as T4, is a type of thyroid hormone. The test measures the level of T4 in blood. Too much or too little T4 can indicate thyroid disease. Since we have other columns holding similar data, we will drop columns 'query on thyroxine' and 'on thyroxine' from the current data frame. After dropping these two columns, how manay columns do you have in your data frame?¶

In [ ]:
df = df.drop(['query on thyroxine', 'on thyroxine'], axis=1)
len(df.columns)

28

15Apply a proper data transformation the the columns 'on antithyroid medication' and 'sick' to transform them into numerical columns. Then use a correlation function np.corrcoef to find the linear correlation coefficient of these two columns. Enther the correlation coefficient with two digits after the decimal point.¶

In [ ]:
columns = ['on antithyroid medication', 'sick']
df[columns] = df[columns].replace({'f': 0, 't': 1})

In [ ]:
df['I131 treatment'].value_counts()

f    9003
t     169
Name: I131 treatment, dtype: int64

16. What is a proper data transformation on the column 'I131 treatment'? Apply the transformation on your data frame.¶

In [ ]:
df['I131 treatment'] = df['I131 treatment'].replace({'f': 0, 't': 1})

In [ ]:
df['thyroid surgery'].value_counts() ##FAMELA 1

f    9038
t     134
Name: thyroid surgery, dtype: int64

17. What is a propert data transformation on the column 'thyroid surgery'? Apply the transformation on your data frame

In [ ]:
df['thyroid surgery'] = df['thyroid surgery'].replace({'f': 0, 't': 1})

In [ ]:
df['pregnant'].value_counts()

f    9065
t     107
Name: pregnant, dtype: int64

18. What is the propery data transformation on the column 'pregnant'? Apply the transformation on your data frame

In [ ]:
df['pregnant'] = df['pregnant'].replace({'f': 0, 't': 1})

In [ ]:
df['query hypothyroid'].value_counts()

f    8542
t     630
Name: query hypothyroid, dtype: int64

19. What is the proper data transformation of the column 'query hypothyroid'? Apply the transformation on your data frame

In [ ]:
df['query hypothyroid'] = df['query hypothyroid'].replace({'f': 0, 't': 1})

In [ ]:
df['query hyperthyroid'].value_counts()

f    8521
t     651
Name: query hyperthyroid, dtype: int64

20. What is the proper data transformation of the column 'query hyperthyroid'? Apply the transformation on your data frame

In [ ]:
df['query hyperthyroid'] = df['query hyperthyroid'].replace({'f': 0, 't': 1})

In [ ]:
df['goitre'].value_counts()

f    9088
t      84
Name: goitre, dtype: int64

In [ ]:
df['lithium'] = df['lithium'].replace({'f': 0, 't': 1})

In [ ]:
df['goitre'] = df['goitre'].replace({'f': 0, 't': 1})

In [ ]:
df['tumor'].value_counts()

f    8931
t     241
Name: tumor, dtype: int64

In [ ]:
df['tumor'] = df['tumor'].replace({'f': 0, 't': 1})

In [ ]:
df['psych'].value_counts()

f    8754
t     418
Name: psych, dtype: int64

In [ ]:
#25
df['psych'] = df['psych'].replace({'f': 0, 't': 1})

In [ ]:
df['TSH measured'].value_counts()###T IS ONE

t    8330
f     842
Name: TSH measured, dtype: int64

In [ ]:
df['TSH measured'] = df['TSH measured'].replace({'f': 0, 't': 1})

27. If you study the data frame carefully, you can see that instances with 'TSH measured' values as 'f', have NaN values under the column 'TSH'. To impute missing values in this column, we will replace all the NaN values with 0. What is the column 'TSH' average after the data transformation? Enter the answer with two digits after the decimal point

In [ ]:
df['TSH'] = df['TSH'].fillna(0)

df['TSH'] = pd.to_numeric(df['TSH'])

In [ ]:
round(df['TSH'].mean(), 2)

4.74

28. To conclude this lab, run the info() function and enter the number of columns with datatype 'object'

In [ ]:
#df.info()##12 colums

df1=df.select_dtypes(include=[object])

In [ ]:
#df.info()

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9172 entries, 0 to 9171
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   hypopituitary    9172 non-null   object
 1   T3 measured      9172 non-null   object
 2   T3               6568 non-null   object
 3   TT4 measured     9172 non-null   object
 4   TT4              8730 non-null   object
 5   T4U measured     9172 non-null   object
 6   T4U              8363 non-null   object
 7   FTI measured     9172 non-null   object
 8   FTI              8370 non-null   object
 9   TBG measured     9172 non-null   object
 10  TBG              349 non-null    object
 11  referral source  9172 non-null   object
dtypes: object(12)
memory usage: 860.0+ KB

10. What percentage of rows have at least one attribute flagged as missing value? Enter the answer as a value between 0 and 100, and two digits after the decimal point without the percent sign

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9172 entries, 0 to 9171
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        9172 non-null   int64
 1   sex                        9172 non-null   int64
 2   on antithyroid medication  9172 non-null   int64
 3   sick                       9172 non-null   int64
 4   pregnant                   9172 non-null   int64
 5   thyroid surgery            9172 non-null   int64
 6   I131 treatment             9172 non-null   int64
 7   query hypothyroid          9172 non-null   int64
 8   query hyperthyroid         9172 non-null   int64
 9   lithium                    9172 non-null   int64
 10  goitre                     9172 non-null   int64
 11  tumor                      9172 non-null   int64
 12  hypopituitary              9172 non-null   object
 13  psych                      9172 non-null   int64
 14  TSH measured               9172 non-null   int64
 15  TSH                        9172 non-null   float64
 16  T3 measured                9172 non-null   object
 17  T3                         6568 non-null   object
 18  TT4 measured               9172 non-null   object
 19  TT4                        8730 non-null   object
 20  T4U measured               9172 non-null   object
 21  T4U                        8363 non-null   object
 22  FTI measured               9172 non-null   object
 23  FTI                        8370 non-null   object
 24  TBG measured               9172 non-null   object
 25  TBG                        349 non-null    object
 26  referral source            9172 non-null   object
 27  y                          9172 non-null   int64
dtypes: float64(1), int64(15), object(12)
memory usage: 2.0+ MB

In [ ]:
(df.isna().sum(axis=1) >= 1).sum()

9140

In [ ]:
round(((df.isna().sum(axis=1) >= 1).sum() / len(df)) * 100, 2)

99.65

In [ ]:
(df['on thyroxine'] != df['query on thyroxine']).sum()

KeyError: 'on thyroxine'

# lab 2

In [ ]:
df['TT4'].isnull().sum()

442

In [ ]:
df['TT4']=df['TT4'].replace(np.nan,0)

In [ ]:
df['TT4'] = pd.to_numeric(df['TT4'])

In [ ]:
df['TT4'].mean()

103.46202136938508

In [ ]:
df['TT4']

0         0.0
1       128.0
2         0.0
3         0.0
4         0.0
        ...
9167     64.0
9168     91.0
9169    113.0
9170     75.0
9171     66.0
Name: TT4, Length: 9172, dtype: float64

In [ ]:
df['TT4 measured'].value_counts()

t    8730
f     442
Name: TT4 measured, dtype: int64

In [ ]:
df['TT4 measured'] = df['TT4 measured'].replace({'f': 0, 't': 1})

In [ ]:
#

In [ ]:
#3
df['T3 measured'].value_counts()

t    6568
f    2604
Name: T3 measured, dtype: int64

In [ ]:
df['T3 measured'] = df['T3 measured'].replace({'f': 0, 't': 1})

In [ ]:
df['T3']=df['T3'].replace(np.nan,0)
df['T3'] = pd.to_numeric(df['T3'])
df['T3'].mean()

1.4111524199738308

In [ ]:
#5
df['T4U measured'].value_counts()

t    8363
f     809
Name: T4U measured, dtype: int64

In [ ]:
df['T4U measured'] = df['T4U measured'].replace({'f': 0, 't': 1})

In [ ]:
df['T4U']=df['T4U'].replace(np.nan,0)
df['T4U'] = pd.to_numeric(df['T4U'])
df['T4U'].mean()

0.8899644570431716

In [ ]:
#9

df['TBG measured'].value_counts() ##f 1

f    8823
t     349
Name: TBG measured, dtype: int64

In [ ]:
df['TBG measured'] = df['TBG measured'].replace({'f': 0, 't': 1})

In [ ]:
df['TBG']=df['TBG'].replace(np.nan,0)
df['TBG'] = pd.to_numeric(df['TBG'])
df['TBG'].mean()

1.136573266027039

# q11

In [ ]:
df['referral source'].value_counts()

other    5493
SVI      2394
SVHC      956
STMW      255
SVHD       71
WEST        3
Name: referral source, dtype: int64

In [ ]:
df['FTI measured'].value_counts()

t    8370
f     802
Name: FTI measured, dtype: int64

In [ ]:
df['FTI measured'] = df['FTI measured'].replace({'f': 0, 't': 1})

In [ ]:
df['FTI']=df['FTI'].replace(np.nan,0)
df['FTI'] = pd.to_numeric(df['FTI'])
df['FTI'].mean()

103.70399476635413

In [ ]:
df['age'].value_counts()

60       209
62       208
72       207
59       201
61       192
        ...
5          2
65526      1
65511      1
455        1
65512      1
Name: age, Length: 100, dtype: int64